.accordion {
  ul {
    padding-left: 0;
    li {
      list-style: none;
      box-shadow: $shadow;
      border-radius: 4px;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &:first-child {
        .accordion-body {
          display: block;
        }
      }
      .accordion-head {
        position: relative;
        cursor: pointer;
        font-weight: 400;
        padding: 0.875rem;
        &.active {
          i {
            transform: translateY(-50%) rotate(180deg);
          }
        }
        &:hover {
          i {
            background: $grey-grade--1;
          }
        }
        i {
          position: absolute;
          width: 24px;
          height: 24px;
          top: 50%;
          right: 1rem;
          display: inline-flex;
          align-items: center;
          background: $grey-grade--2;
          transform: translateY(-50%) rotate(0);
          transition: 0.25s ease-in;
          justify-content: center;
          border-radius: 50%;
        }
      }
      .accordion-body {
        display: none;
        padding: 0.5rem 0.875rem;
      }
    }
  }
}
