.wrapper,
.wrapper-fluid,
.wrapper-sm,
.wrapper-md,
.wrapper-lg,
.wrapper-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid,
.grid-sm-1,
.grid-sm-2,
.grid-sm-3,
.grid-sm-4,
.grid-sm-5,
.grid-sm-6,
.grid-sm-7,
.grid-sm-8,
.grid-sm-9,
.grid-sm-10,
.grid-sm-11,
.grid-sm-12,
.grid-sm,
.grid-md-1,
.grid-md-2,
.grid-md-3,
.grid-md-4,
.grid-md-5,
.grid-md-6,
.grid-md-7,
.grid-md-8,
.grid-md-9,
.grid-md-10,
.grid-md-11,
.grid-md-12,
.grid-md,
.grid-lg-1,
.grid-lg-2,
.grid-lg-3,
.grid-lg-4,
.grid-lg-5,
.grid-lg-6,
.grid-lg-7,
.grid-lg-8,
.grid-lg-9,
.grid-lg-10,
.grid-lg-11,
.grid-lg-12,
.grid-lg,
.grid-xl-1,
.grid-xl-2,
.grid-xl-3,
.grid-xl-4,
.grid-xl-5,
.grid-xl-6,
.grid-xl-7,
.grid-xl-8,
.grid-xl-9,
.grid-xl-10,
.grid-xl-11,
.grid-xl-12,
.grid-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.grid {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@for $i from 1 through 12 {
  .grid-#{$i} {
    @include gridWidth($i);
  }
}

@for $i from 0 through 11 {
  .offset-#{$i} {
    @include offsetWidth($i);
  }
}

.order-first {
  order: -1;
}
.order-last {
  order: 13;
}
@for $i from 0 through 12 {
  .order-#{$i} {
    order: $i;
  }
}

$breakpoints: "sm" $breakpoint-sm $breakpoint-wrapper-sm,
  "md" $breakpoint-md $breakpoint-wrapper-md,
  "lg" $breakpoint-lg $breakpoint-wrapper-lg,
  "xl" $breakpoint-xl $breakpoint-wrapper-xl;
@each $device, $breakpoint, $width in $breakpoints {
  @media (min-width: #{$breakpoint}) {
    .wrapper {
      max-width: #{$width};
    }
    .grid-#{$device} {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    @for $i from 1 through 12 {
      .grid-#{$device}-#{$i} {
        @include gridWidth($i);
      }
    }

    @for $i from 0 through 11 {
      .offset-#{$device}-#{$i} {
        @include offsetWidth($i);
      }
    }

    .order-#{$device}-first {
      order: -1;
    }
    .order-#{$device}-last {
      order: 13;
    }

    @for $i from 0 through 12 {
      .order-#{$device}-#{$i} {
        order: $i;
      }
    }
  }
}
