$text-color-grade--1: rgba(29, 29, 31, 1);
$text-color-grade--2: rgba(29, 29, 31, 0.75);

$white-grade--1: rgba(255, 255, 255, 1);

$red-grade--1: rgba(235, 78, 61, 1);
$red-grade--2: rgba(235, 78, 61, 0.075);

$yellow-grade--1: rgba(255, 215, 0, 1);
$yellow-grade--2: rgba(255, 215, 0, 0.075);

$green-grade--1: rgba(42, 203, 66, 1);
$green-grade--2: rgba(42, 203, 66, 0.075);

$blue-grade--1: rgba(56, 128, 209, 1);
$blue-grade--2: rgba(56, 128, 209, 0.075);

$grey-grade--1: rgba(244, 244, 245, 1);
$grey-grade--2: rgba(244, 244, 245, 0.5);

$black-grade--1: rgba(68, 68, 68, 1);
$black-grade--2: rgba(68, 68, 68, 0.075);

$outline: #e0e0e0;
$shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
$link: #2997ff;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breakpoint-wrapper-sm: 440px;
$breakpoint-wrapper-md: 720px;
$breakpoint-wrapper-lg: 960px;
$breakpoint-wrapper-xl: 1140px;

$primaryColor: $blue-grade--1;
$secondaryColor: $black-grade--1;
